<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- add entry to enable component scanning -->
	<context:component-scan base-package="com.study.springdemo" />
	
	<!--  Load the properties file -->
	<context:property-placeholder location="classpath:sport.properties"/>

	<bean id="myLoggerConfig" class="com.study.springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <!--  define the dependency -->
    <bean id="myFortuneService" 
		class="com.study.springdemo.HappyFortuneService">
	</bean>
    
    <bean id="myCoach" 
		class="com.study.springdemo.TrackCoach">
		
		<!--  setup constructor injection -->
		<constructor-arg ref="myFortuneService"></constructor-arg>
	</bean>
	
	<bean id="myCricketCoach" 
		class="com.study.springdemo.CircketCoach" scope="singleton">
		
		<!--  setup setter injection -->
		<property name="fortuneService" ref="myFortuneService" />
		
		<!--  setup setter injection for literal values -->
		<property name="emailAddress" value="${foo.email}" />
		<property name="team" value="${foo.team}" />
		
	</bean>
</beans>
